fastapi==0.115.12
uvicorn==0.34.3
gunicorn==23.0.0
langchain==0.3.25
langchain-groq==0.3.2
langchain-community==0.3.23
langchain-core==0.3.59
langchain-huggingface==1.2.2
langchain-text-splitters==1.1.2
langchain-pinecone
sentence-transformers==5.5.1
pypdf==6.12.1
python-dotenv==1.2.2
pydantic==2.13.4
pinecone==7.3.0
pyyaml==6.0.1